<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cowboy-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,0},{104,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{62,28},{104,205}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,609},{104,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{62,24},{104,209}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,0},{114,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{73,24},{114,205}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,658},{119,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{78,20},{119,203}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,241},{180,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{52,28},{180,200}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,442},{174,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{50,37},{174,196}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,639},{144,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{50,20},{144,208}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,85},{193,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,66},{193,155}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{194,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,143},{194,84}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-17.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,417},{113,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{73,32},{113,205}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-18.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,206},{104,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{75,37},{104,200}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-19.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,217},{121,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{69,32},{121,204}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,0},{120,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{61,18},{120,216}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-20.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,658},{123,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{43,23},{123,201}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-21.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,639},{150,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,25},{150,204}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-22.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,241},{141,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,21},{141,205}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-23.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,447},{126,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{47,18},{126,210}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-24.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,413},{104,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{71,41},{104,195}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,0},{133,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,18},{133,216}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,206},{113,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{72,21},{113,210}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,206},{108,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{72,17},{108,206}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,623},{105,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{67,17},{105,207}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,623},{108,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{65,19},{108,206}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,0},{104,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{76,27},{104,200}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,422},{116,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,16},{116,214}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>