<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cowboy-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,613},{83,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{90,48},{83,171}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,613},{116,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{86,50},{116,171}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,265},{133,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{66,58},{133,167}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{173,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{42,137},{173,84}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,85},{94,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{77,49},{94,181}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,608},{84,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{92,48},{84,177}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,433},{132,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{86,48},{132,179}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,85},{135,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{85,48},{135,179}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,785},{109,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{73,52},{109,173}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,786},{80,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{85,51},{80,170}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,433},{96,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,50},{96,174}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,785},{109,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{75,51},{109,173}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>