<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>knight-dead-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,485},{177,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{54,1},{177,247}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-dead-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,0},{154,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{77,2},{154,246}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-dead-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,485},{155,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{72,28},{155,220}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-dead-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,247},{148,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{80,97},{148,151}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-dead-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,247},{148,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{81,97},{148,151}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-go-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,646},{141,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,4},{141,243}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-go-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,0},{141,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,5},{141,240}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-go-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,0},{137,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,6},{137,238}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-go-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,399},{139,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{44,1},{139,244}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-hit-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,733},{155,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,10},{155,237}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-hit-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,244},{182,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,7},{182,240}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-hit-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{186,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{186,243}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-idle-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,248},{139,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{57,3},{139,246}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-idle-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,0},{139,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{57,2},{139,247}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-idle-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,644},{139,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{57,2},{139,247}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-pain-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,706},{152,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{54,0},{152,246}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-pain-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,733},{162,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{54,0},{162,246}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-pain-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,399},{142,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{51,0},{142,246}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>