<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ninja-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,452},{117,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,30},{117,219}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,672},{117,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,30},{117,220}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,222},{123,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,43},{123,206}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,0},{112,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,48},{112,202}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,660},{130,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,47},{130,203}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,415},{179,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,31},{179,219}}</string>
				<key>sourceSize</key>
				<string>{179,250}</string>
			</dict>

			<key>ninja-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,415},{158,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,31},{158,215}}</string>
				<key>sourceSize</key>
				<string>{158,250}</string>
			</dict>

			<key>ninja-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,635},{173,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,52},{173,198}}</string>
				<key>sourceSize</key>
				<string>{173,250}</string>
			</dict>

			<key>ninja-16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,216},{184,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,47},{184,198}}</string>
				<key>sourceSize</key>
				<string>{184,250}</string>
			</dict>

			<key>ninja-17.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,217},{111,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{111,248}}</string>
				<key>sourceSize</key>
				<string>{111,250}</string>
			</dict>

			<key>ninja-18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{210,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,29},{210,215}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-19.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,0},{114,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,33},{114,216}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,0},{118,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,31},{118,219}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,834},{146,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,47},{146,187}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-21.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,852},{133,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,64},{133,135}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-22.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,228},{96,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{57,83},{96,97}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-23.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,631},{142,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,29},{142,220}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-24.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,0},{127,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,29},{127,221}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-25.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,0},{135,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,27},{135,220}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-26.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,221},{132,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,25},{132,223}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-27.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,635},{163,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,33},{163,215}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-28.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,222},{118,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,19},{118,229}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-29.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,466},{111,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,36},{111,214}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,660},{127,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,20},{127,230}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-30.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,445},{132,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,36},{132,214}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-31.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,228},{140,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,36},{140,211}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,0},{142,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,22},{142,227}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,0},{116,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,47},{116,203}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,620},{115,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,41},{115,209}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,415},{115,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,45},{115,204}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,204},{116,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,40},{116,210}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,429},{123,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,47},{123,202}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>