<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ninja-block-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1809,217},{111,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,36},{111,214}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-block-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,0},{132,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,36},{132,214}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-block-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,0},{140,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,36},{140,211}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-dead-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1809,0},{114,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,33},{114,216}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-dead-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,216},{146,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,47},{146,187}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-dead-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,0},{133,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,64},{133,135}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-dead-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,404},{96,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{57,83},{96,97}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-go-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1219,0},{116,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,47},{116,203}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-go-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1577,211},{115,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,41},{115,209}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-go-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1693,211},{115,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,45},{115,204}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-go-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1577,0},{116,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,40},{116,210}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-hit-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,216},{179,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,31},{179,219}}</string>
				<key>sourceSize</key>
				<string>{179,250}</string>
			</dict>

			<key>ninja-hit-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,0},{158,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,31},{158,215}}</string>
				<key>sourceSize</key>
				<string>{158,250}</string>
			</dict>

			<key>ninja-hit-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,0},{173,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,52},{173,198}}</string>
				<key>sourceSize</key>
				<string>{173,250}</string>
			</dict>

			<key>ninja-hit-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,216},{184,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,47},{184,198}}</string>
				<key>sourceSize</key>
				<string>{184,250}</string>
			</dict>

			<key>ninja-hit-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1921,217},{111,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{111,248}}</string>
				<key>sourceSize</key>
				<string>{111,250}</string>
			</dict>

			<key>ninja-hit-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{210,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,29},{210,215}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-idle-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1459,221},{117,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,30},{117,219}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-idle-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1459,0},{117,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,30},{117,220}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-idle-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,0},{118,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,31},{118,219}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-pain-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,215},{132,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,25},{132,223}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-pain-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,199},{163,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,33},{163,215}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-pain-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,220},{118,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,19},{118,229}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-run-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,0},{123,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,47},{123,202}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-run-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1216,204},{123,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,43},{123,206}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-run-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1694,0},{112,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,48},{112,202}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-run-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,0},{130,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,47},{130,203}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-shuriken-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,216},{142,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,29},{142,220}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-shuriken-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,204},{127,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,29},{127,221}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-shuriken-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,212},{135,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,27},{135,220}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,512}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>