<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ninja-dead-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,659},{151,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{81,27},{151,222}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-dead-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,464},{156,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{74,47},{156,194}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-dead-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,464},{133,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{94,64},{133,177}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-dead-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,481},{100,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{123,83},{100,158}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-go-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,241},{113,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{69,12},{113,237}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-go-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,714},{120,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,9},{120,240}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-go-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,241},{125,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{59,9},{125,232}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-go-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,474},{121,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{59,9},{121,239}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-hit-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,241},{113,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{69,12},{113,237}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-hit-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,224},{128,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{88,20},{128,229}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-hit-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,224},{162,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,10},{162,239}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-hit-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{196,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,26},{196,223}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-idle-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,0},{117,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{65,10},{117,239}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-idle-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,714},{117,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{66,10},{117,239}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-idle-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,0},{115,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{62,9},{115,240}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-pain-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,0},{127,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{67,7},{127,240}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-pain-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,659},{150,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{51,8},{150,239}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-pain-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,240},{115,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{64,7},{115,240}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>