<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ninja-dead-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,644},{153,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{54,27},{153,222}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-dead-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,224},{159,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{55,47},{159,195}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-dead-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,661},{133,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{61,64},{133,178}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-dead-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,840},{102,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{63,83},{102,159}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-go-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,0},{113,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{106,12},{113,238}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-go-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,473},{119,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{108,9},{119,241}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-go-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,0},{125,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{104,9},{125,232}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-go-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,233},{121,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{108,9},{121,239}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-hit-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,0},{128,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{72,20},{128,229}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-hit-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,420},{153,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{97,26},{153,223}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-hit-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{161,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{89,26},{161,223}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-idle-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,715},{117,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{106,10},{117,239}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-idle-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,0},{117,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{105,10},{117,240}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-idle-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,241},{115,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,9},{115,241}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-pain-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,661},{127,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{94,7},{127,240}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-pain-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,420},{149,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{87,8},{149,240}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-pain-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,715},{115,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{109,7},{115,241}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>