<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>flagge-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,425},{378,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{208,99},{378,209}}</string>
			<key>sourceSize</key>
			<string>{834,419}</string>
		</dict>
		<key>flagge-02.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,635},{378,196}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{207,101},{378,196}}</string>
			<key>sourceSize</key>
			<string>{833,419}</string>
		</dict>
		<key>flagge-03.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{380,221}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{208,77},{380,221}}</string>
			<key>sourceSize</key>
			<string>{833,420}</string>
		</dict>
		<key>flagge-04.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,222},{379,202}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{208,92},{379,202}}</string>
			<key>sourceSize</key>
			<string>{833,419}</string>
		</dict>
		<key>flagge-05.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,635},{378,196}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{207,101},{378,196}}</string>
			<key>sourceSize</key>
			<string>{833,419}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512,1024}</string>
		<key>textureFileName</key>
		<string>flaggenSprites.png</string>
	</dict>
</dict>
</plist>
