<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cowboy-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,735},{158,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{41,4},{158,243}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,486},{165,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,3},{165,244}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,486},{135,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{40,8},{135,234}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,723},{172,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,4},{172,243}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,723},{171,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,5},{171,242}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{190,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,7},{190,240}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,482},{187,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{43,7},{187,240}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,241},{187,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{42,7},{187,240}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-16.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,0},{164,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{55,143},{164,93}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-17.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,735},{161,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{42,3},{161,244}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-18.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,241},{169,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,3},{169,244}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-19.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,731},{165,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,3},{165,244}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,490},{165,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,3},{165,244}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-20.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,245},{165,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{37,3},{165,244}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,0},{165,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,3},{165,244}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,485},{158,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{48,4},{158,243}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,0},{154,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{50,3},{154,239}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,0},{159,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{47,3},{159,240}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,245},{129,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,4},{129,237}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,241},{158,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{48,4},{158,243}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>cowboy-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,729},{119,236}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{59,6},{119,236}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>