<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sprite_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,415},{104,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{68,23},{104,205}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>sprite_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,673},{111,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{73,21},{111,209}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>sprite_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,673},{114,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{73,24},{114,205}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>sprite_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,0},{119,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{78,20},{119,203}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>sprite_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,241},{180,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{52,28},{180,200}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>sprite_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,442},{174,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{50,37},{174,196}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>sprite_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,639},{144,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{50,20},{144,208}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>sprite_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,85},{193,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,66},{193,155}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>sprite_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{194,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,143},{194,84}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>sprite_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,241},{120,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{75,21},{120,216}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>sprite_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,639},{134,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{74,21},{134,216}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>sprite_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,204},{113,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{72,21},{113,210}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>sprite_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,0},{108,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{72,17},{108,206}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>sprite_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,207},{105,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{67,17},{105,207}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>sprite_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,415},{108,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{65,19},{108,206}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>sprite_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,621},{104,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{76,27},{104,200}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>sprite_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,458},{116,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,16},{116,214}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>cowboySpriteSheet.png</string>
			</dict>
		</dict>
</plist>