<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>knight-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,449},{171,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,18},{171,228}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,0},{157,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,15},{157,231}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,463},{99,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,106},{99,136}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,463},{99,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,106},{99,136}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,679},{171,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,13},{171,228}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,678},{149,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,15},{149,225}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,232},{138,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,12},{138,230}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,449},{191,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,14},{191,229}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,679},{188,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,17},{188,229}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,0},{125,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,20},{125,225}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,0},{126,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,14},{126,230}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,225},{195,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,21},{195,223}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{222,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,20},{222,224}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,231},{125,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,16},{125,225}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,232},{125,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,42},{125,199}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>enemyKnightSpriteSheet.png</string>
			</dict>
		</dict>
</plist>