<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>knight-block-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1055,238},{125,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,10},{125,228}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-block-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1059,0},{115,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,14},{115,224}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-dead-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,460},{127,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,18},{127,227}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-dead-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,824},{127,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,39},{127,197}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-dead-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,688},{127,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,107},{127,135}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-dead-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,460},{131,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,105},{131,136}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-dead-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1175,0},{99,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,107},{99,136}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-farhit-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,0},{133,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{63,18},{133,221}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-farhit-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,227},{154,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,23},{154,213}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-farhit-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1055,467},{123,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,28},{123,211}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-farhit-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,227},{232,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,18},{232,221}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-go-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,231},{169,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,15},{169,228}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-go-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,0},{170,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,13},{170,230}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-go-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,680},{173,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,15},{173,225}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-go-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,680},{173,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,14},{173,229}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-hit-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,677},{191,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{41,15},{191,228}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-hit-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,238},{113,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{42,22},{113,221}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-hit-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,0},{125,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,4},{125,237}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-hit-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1055,679},{122,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,15},{122,229}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-hit-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{238,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,18},{238,226}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-idle-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,449},{194,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,18},{194,227}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-idle-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,449},{192,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,16},{192,227}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-idle-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,677},{192,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,14},{192,227}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-pain-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,453},{186,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,21},{186,219}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-pain-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,455},{182,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,19},{182,224}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-pain-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,226},{184,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,17},{184,228}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-run-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,0},{184,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,15},{184,225}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-run-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,227},{188,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,14},{188,225}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-run-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,677},{193,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,16},{193,222}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>knight-run-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,0},{191,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,16},{191,226}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>knightSpriteSheet.png</string>
			</dict>
		</dict>
</plist>