<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ninja-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,650},{117,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,30},{117,219}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,429},{117,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,30},{117,220}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,222},{123,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,43},{123,206}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,0},{112,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,48},{112,202}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,420},{130,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,47},{130,203}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,199},{180,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,31},{180,219}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,424},{115,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,5},{115,244}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{210,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,51},{210,198}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-16.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,421},{114,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,33},{114,216}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,419},{146,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,47},{146,187}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,835},{133,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,64},{133,135}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-19.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,870},{96,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{57,83},{96,97}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,0},{118,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,31},{118,219}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,607},{142,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,29},{142,220}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-21.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{127,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,29},{127,221}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-22.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,199},{135,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,27},{135,220}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,624},{127,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,20},{127,230}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,607},{142,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,22},{142,227}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,220},{116,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,47},{116,203}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,211},{115,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,41},{115,209}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,669},{115,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,45},{115,204}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,0},{116,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,40},{116,210}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>ninja-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,624},{123,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,47},{123,202}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>ninjaSpriteSheet.png</string>
			</dict>
		</dict>
</plist>